In [9]:
import pandas as pd
file = "CSV_Files/City_City_Zhvi_AllHomes.csv"

In [10]:
original_df = pd.read_csv(file)
original_df.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,622800.0,626500,633000,642000,652700,665800,675700,681600,687900,693900
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,155000.0,154600.0,154400.0,154200.0,...,608100.0,611000,614900,620100,624000,626600,628300,629700,631500,633400
2,17426,Chicago,IL,Chicago,Cook,3,109700.0,109400.0,109300.0,109300.0,...,213900.0,216800,218800,219400,219900,220500,220800,221400,222500,223300
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,50000.0,49900.0,49600.0,49400.0,...,132700.0,133800,134800,135400,135700,136400,137100,137700,138900,140300
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,87200.0,87700.0,88200.0,88400.0,...,204800.0,206300,207700,208800,209600,211400,213800,215700,217300,218600

{'error': 'Not Found',
 'message': '',
 'path': '/api/summarized/IN',
 'status': 404,
 'timestamp': '2021-07-27T02:03:27.616+00:00'}